<div>
    <p><label for="merge-users-source"><b>{{i18n "merge-users.form.source"}}</b></label></p>
    <p>{{input id="merge-users-source" value=source}}</p>
</div>

<div>
    <p><label for="merge-users-target"><b>{{i18n "merge-users.form.target"}}</b></label></p>
    <p>{{input id="merge-users-target" value=target}}</p>
</div>

<div>
    <p><label>
        {{input type="checkbox" checked=messageTarget}}
        {{i18n "merge-users.form.send-message"}}
    </label></p>
</div>

<div class="buttons">
    {{d-button
        action=(action "submit")
        class="btn-danger"
        disabled=formSubmitted
        icon="exclamation-triangle"
        label="merge-users.title"
    }}
</div>